/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/vendor/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

config/config.php
test.log
test.php
testApp/
composer.lock
examples/MyApp/logs/*.log



